	
.fa-envelope{
	color: lightgrey;
}
.fa-star{
	color: orange;
}

.fa-gratipay{
	color: pink;
}
.fa-home{
	color: grey;
}
.fa-map-marker{
	color: red; 
}
.fa-clock-o{
	color: lightblue;
}
.fa-sign-out{
	color: red; }

