

.navbar, .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 30px;
}

.nav li {
	display: inline;
	color: white;
}

.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: #444444;
	transition: 0.7s all linear;
	height: 100%;
}




.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  float: left;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}




.img{
	display: block;

}

.bs{
	float: left;
	padding-right: 15px;
  padding-left: 15px;
}

.vin{
	color: white;
	font-weight:bold;
}

span {
	color: orange;
	font-weight:bold;
	font-size: 200%;
}

.out{
	color: white;
	font-style: italic;
	padding-bottom: 10px;}

body {background-color: darkred}

#img_container {
    position:relative;
    display:inline-block;
    text-align:center;
    border:1px solid red;

}

.buttonLogin {
    position:absolute;
    bottom:300px;
    right:390px;
    width:150px;
    height:40px;
}
.buttonRegister {
    position:absolute;
    bottom:250px;
    right:390px;
    width:150px;
    height:40px;
}
.buttonJump {
    position:absolute;
    bottom:200px;
    right:390px;
    width:150px;
    height:40px;
}

.fa-arrow-circle-down{

  color: lightgrey;
  font-size: 250%;
}

.arrow{
   display:block;
    text-align:center;
    margin-top: -7px;
    padding-bottom: 15px;
}

.headerIcons{
  color: lightgrey;
}



.fa-search
{
   padding-left: 25px;
}
.fa-retweet
{
   padding-left: 25px;
}
.fa-ellipsis-v{
  padding-left: 27px;
  padding-top: 11px;
}